body {
    padding-top: 72px;
}

#header-content-list {
    list-style-type: none;
}

.social-media-img {
    width: 30px;
}

.topicselectors {
    background-color: black;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.educationhome {
    padding: 0px;
    overflow: hidden;
    /* text-align: center; */
    position: relative;
    /* background-color: green; */
}

.experienceshome {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.projectshome {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.abouthome {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.topicselectors img, .topicselectors a {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.sectiontext h2{
    color: white;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px #000;
}

.educationhome a {
    text-align: center;
    margin: auto auto;
    overflow: hidden;
}

.educationhome img {
    width: 100%;
    padding: 0px;
}

.grey-on-hover img {
    opacity: 1;
    transition: transform 0.3s ease;
}

.grey-on-hover:hover img{
    opacity: .75;
    transform: scale(1.1);
}

.profexpsection {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 98vw;
}

.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #ff3636;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #ff3636;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}

.container {
    width: 85%;
}

ul.timeline-list {
	position: relative;
	margin: 0;
	padding: 0
}
ul.timeline-list:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: #ff3636;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
ul.timeline-list li {
	position: relative;
	clear: both;
	display: table;
    width: 100%;
}
.timeline_content {
	border: 2px solid #ff3636;
	background-color:#fff;
}

ul.timeline-list li .timeline_content {
	width: 45%;
	color: #333;
	padding: 30px;
	float: left;
	text-align: center;
}
ul.timeline-list li:nth-child(2n) .timeline_content {
	float: right;
	text-align: center;
}

.timeline_content h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}
ul.timeline-list li:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-color: #ff3636;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 50%;
}
.timeline_content span {
	font-size: 18px;
	font-weight: 500;
	font-family: poppins;
	color: #ff3636;
}

.linkbreak {
    word-break: break-all;
}

section {
    width: 100vw;
}